# Entorno virtual Python
.venv/

# Variables y secretos
.env

# Base de datos local
data/*.db
data/*.db-shm
data/*.db-wal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log